{% load review_extras %}
{% for post in posts %}
    {% if post|object_type == "Ticket" %}
    <div class="post ticket">
        <div class="header">
            <span class="by"><strong>{{post.user}}</strong> a posté un billet</span>
            <span class="time">le : {{post.time_created}}</span>
        </div>
        <h3>{{post.title}}</h3>
        <p>
            {{post.description}}
            {% if post.image %}
                <img src="{{post.image.url}}" alt="couverture de {{post.title}}">
            {% endif %}
        </p>
        {% if post.user == request.user or post in answerable %}
            <div class="footer">
                {% if post.user == request.user %}
                    <a href="{% url 'edit-ticket' post.id %}">Modifier le ticket</a>
                {% endif %}
                {% if post in answerable %}
                    <a href="{% url 'add-review' post.id %}">Poster une critique</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% endif %}
    {% if post|object_type == "Review" %}
    <div class="post review">
        <div class="header">
            <span class="by"><strong>{{post.user}}</strong> a posté une critique</span>
            <span class="time">le : {{post.time_created}}</span>
        </div>
        <h3>{{post.headline}}</h3><span class="stars">{{post.rating|stars}}</span>
        <div class="ref">
            {% if post.ticket.image %}
                <img src="{{post.ticket.image.url}}" alt="couverture de {{post.ticket.title}}">
            {% endif %}
            {{post.ticket.title}}
        </div>
        <p>{{post.body}}</p>
        {% if post.user == request.user %}
            <div class="footer">
                <a href="{% url 'edit-review' post.id %}">Modifier la critique</a>
            </div>
        {% endif %}
    </div>
    {% endif %}
{% endfor %}