{% load review_extras %}
{% for post in posts %}
    {% if post|object_type == "Ticket" %}
    <div class="post ticket">
        <div class="header">
            <span class="by"><strong>{{post.user|capfirst}}</strong> a demandé une critique</span>
            <span class="time">le : {{post.time_created}}</span>
        </div>
        <h4>{{post.title}}</h4>
        <p>
            {{post.description}}
            {% if post.image %}
                <img src="{{post.image.url}}" alt="{{post.title}}"><br>
            {% endif %}
        </p>
        {% if post.user == request.user or post in answerable %}
            <div class="footer">
                {% if post.user == request.user %}
                    <a href="{% url 'edit-ticket' post.id %}">modifier le ticket</a>
                {% endif %}
                {% if post in answerable %}
                    <a href="{% url 'add-review' post.id %}">créer une critique</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% endif %}
    {% if post|object_type == "Review" %}
    <div class="post review">
        <div class="header">
            <span class="by"><strong>{{post.user|capfirst}}</strong> a posté une critique</span>
            <span class="time">le : {{post.time_created}}</span>
        </div>
        <h4>{{post.headline}}</h4><span class="stars">{{post.rating|stars}}</span>
        <div class="ref">{{post.ticket}}</div>
        <p>{{post.body}}</p>
        {% if post.user == request.user %}
            <div class="footer">
                <a href="{% url 'edit-review' post.id %}">modifier la critique</a>
            </div>
        {% endif %}
    </div>
    {% endif %}
{% endfor %}