{% extends "base.html" %}
{% block content %}
<div class="follow" xmlns="http://www.w3.org/1999/html">
    <section>
        <h2>Suivre d'autres utilisateurs</h2>
        <form method="post">
            {{ search_form}}
            {% csrf_token %}
            <button type="submit" >Suivre</button>
        </form>
    </section>
    <section>
        <h2>Vos abonnements</h2>
        <form method="post">
            {% csrf_token %}
            <ul>
                {% for obj in followed %}
                    <li>
                        {{ obj.followed_user.username }}
                        <button type="submit" name="unfollow" value="{{obj.id}}">Se désabonner</button>
                    </li>
                {% endfor %}
            </ul>
        </form>
    </section>
    <section>
        <h2>Vos abonnés</h2>
        <ul>
            {% for user in following_by %}
                <li>{{ user.user.username }}</li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock content %}