{% extends "base.html" %}
{% block content %}
<div class="follow">
    <section>
        <h2>Suivre d'autres utilisateurs</h2>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post" class="search">
            {% csrf_token %}
            <span>{{ search_form}}</span>
            <span><button type="submit" >Suivre</button></span>
        </form>
    </section>
    <section>
        <h2>Vos abonnements</h2>
        <form method="post">
            {% csrf_token %}
            {% for obj in followed %}
            <div class="two-columns row {% cycle 'r1' 'r2' %}">
                    <span>{{ obj.followed_user.username }}</span>
                    <span><button type="submit" name="unfollow" value="{{obj.id}}">Se désabonner</button></span>
            </div>
            {% endfor %}
        </form>
    </section>
    <section>
        <h2>Vos abonnés</h2>
        <ul>
            {% for user in following_by %}
                <li class="{% cycle 'r1' 'r2' %}">{{ user.user.username }}</li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock content %}