{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>LitReview</title>
        <link rel="stylesheet" href='{% static "base.css" %}{% now "?u"%}'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Manrope&family=Playfair+Display&family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div>
                <div>
                    <h1>LITReview</h1>
                    <img src='{% static "images/litreview.png" %}' alt="logo of LITReview">
                </div>
                {% if user.is_authenticated %}
                <nav>
                    <ul>
                        <li><a {% if request.get_full_path == "/" %}class="selected"{% endif %} href="{% url 'feed' %}">Flux</a></li>
                        <li><a {% if request.get_full_path == "/myactivity/" %}class="selected"{% endif %} href="{% url 'my-activity' %}">Mes posts</a></li>
                        <li><a {% if request.get_full_path == "/follow/" %}class="selected"{% endif %} href="{% url 'follow' %}">Abonnements</a></li>
                        <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
                    </ul>
                </nav>
                {% endif %}
            </div>
        </header>
        <main>
        {% block content %}{% endblock content %}
        </main>
    </body>
</html>