<!DOCTYPE html>
<html lang="en">
<header>
    <div>
        <h1>LITReview</h1>
        <img src="" alt="logo of ..">
    </div>
    {% if user.is_authenticated %}
    <nav>
        utilisateur : {{ request.user }}
        <ul>
            <li><a href="{% url 'feed' %}">Fil d'activités</a></li>
            <li><a href="{% url 'my-activity' %}">Mon activité</a></li>
            <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
            <li><a href="{% url 'add-ticket' %}">Ajouter un ticket</a></li>
        </ul>
    </nav>
    {% endif %}
</header>
<body>
{% block content %}{% endblock content %}
</body>
</html>