html {
    font-family: 'Roboto', sans-serif;
    color: #1c1f33;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/paper_fibers.png")
}

body {
    margin: 0% 20%;
}

a {
    text-decoration: none;
    color: black;
}

header {
    margin-top: 10px;
    font-family: "EB Garamond", serif;
    text-transform: uppercase;
    border: solid black;
    border-width: 2px 0px;
}

header > div {
    border: solid black;
    border-width: 0.7px 0px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin: 5px;
    align-items: center; /* center vertically */
    text-align: end;
}

header > div div {
    display: inline;
}

h1 {
    font-family: 'Playfair Display', serif;
}


h1, header img {
    display: inline-block;
    vertical-align: middle;
}

header div img {
    width: 50px;
    margin: 0% 5%;
}

nav {
    display: inline;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display : inline;
}

nav a {
    padding: 20px 20px;
}

nav a:visited, nav a:link, nav a:active {
    color: black;
}

nav a:hover {
    background: #1c1f33;
    color: white;
}

button, main a:not(label[for="id_image"] + a){
  background-color: #1c1f33;
  border: none;
  color: white;
  padding: 14px 28px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: small;
  display: inline-block;
  font-family: 'Manrope', sans-serif;
}


ul, li {
    list-style:none;
    padding:0;
    margin:0;
}

h2 {
    font-family: "Playfair Display", serif;
}

section {
    padding: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}

section:last-child {
    border-bottom: none;
}

input, textarea {
    margin-left: 10px;
}

.error {
    color : red;
}

.helptext, .signup li {
    font-size : small;
    display: block;
    margin-left: 20px;
    color: #4B4B4B;
}


#id_rating > * {
    display: inline;
}

.authentication {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.authentication section:last-child{
    text-align: center;
}

.authentication section, .signup  {
    margin: auto;
    border: none;
}

.form h3 {
    font-family: "Playfair Display", serif;
}

.form .part {
    border-left: 1px solid black;
    padding-left: 20px;
}

.form label:not(label[for="image-clear_id"]) {
    display:block;
    margin: 10px;
}


#id_rating label {
    display: inline;
}

.follow .search
{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.follow .search span:last-child{
    text-align: right;
}

.follow .two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; /* center vertically */
}

.follow .two-columns span:first-child{
    text-align: left;
}

.follow .two-columns span:last-child{
    text-align: right;
}

.follow .row {
   padding-left: 20px;
}

.follow li {
    margin-left: 20px;
    padding: 14px 20px;
}

.follow .r2 {
    background: rgba(218, 218, 218, .4);
}

.follow form {
    padding: 0px 20px;
}


.post {
    margin: 10px;
    padding: 20px;
    display: flow-root;
    font-family: "EB Garamond", serif;
    border: 1px solid black;
}

.ticket {
    background: rgba(245, 255, 250, .2);
}

.review {
    background: rgba(218, 218, 218, .2);
}

.post img {
    width: 100px;
    margin: 0px 20px 0px 0px; /* top, right, bottom, left*/
    float: inline-start;
}

.post .header {
    margin-bottom: 5px;
    font-size: small;
    color: #3e4573;
}

.post .time, .post .by {
    display: inline-block;
}

.post .time {
  float: right;
  text-align: right;
}

.post h3 {
    display: inline;
}

.post .stars {
    margin-left: 20px;
}

.ref {
    width: fit-content;
    border: 1px solid;
    margin: 10px 20px 0 20px; /* top | right | bottom | left */
    text-align: center;
    display: flow-root;
    text-align: center; /* center horizontally */
    padding: 10px;
    background: rgba(245, 255, 250, .2);
}

.ref img {
    width: 50px;
    margin-right: 10px;
    float: left;
}

.post p {
    margin: 10px 0px 0px 0px;
    line-height: 1.3;
}

.post .footer{
    padding: 10px 0px;
    text-align: right;
    clear: both;
}